# Dependencies
node_modules/

# Build / dist
dist/
build/
bin/
.expo/
*.tsbuildinfo
*.exe

# Environment (CRUCIAAL voor veiligheid!)
.env
.env.local
.env.*.local
.env.production

# Database & Tools
*.db
*.db-journal
.drizzle/
.turbo/

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp

# Logs & Testing
*.log
npm-debug.log*
coverage/
.nyc_output/

# Expo / Mobile
web-build/


howtorun.txt